/* Game.module.css */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  background-color: #f4f4f4;
  font-family: "Comic Sans MS", "Arial", sans-serif;
  padding: 2rem 1rem;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 5rem;
  color: #191919;
  text-align: center;
}

.gachaMachine {
  width: 90%;
  max-width: 300px;
  height: 400px;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  border-radius: 20px;
  box-shadow: 5px 5px 15px #bebebe, -5px -5px 15px #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.gachaMachine:hover {
  transform: scale(1.05);
}

.shake {
  animation: shake 0.5s ease infinite;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.handle {
  width: 20px;
  height: 80px;
  background-color: #ff4d4d;
  border-radius: 10px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
}

.window {
  width: 80%;
  height: 50%;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  text-align: center;
  padding: 1rem;
  white-space: pre-line;
}

.missionText {
  font-size: 1.8rem;
  color: #181818;
  font-weight: bold;
  margin-top: 2.5rem;
  text-align: center;
}

@media (max-width: 768px) {
  .title {
    font-size: 2rem;
    margin-bottom: 2.5rem;
  }

  .gachaMachine {
    height: 300px;
  }

  .window {
    font-size: 1.2rem;
  }

  .missionText {
    font-size: 1.5rem;
  }
}
